* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/***** REUSABLE *****/
    body {
        background-color: #163C40;
    }
    .text-18 {
        color: #FEFBE9;
        font-size: 1.2em;
    }
    .nadpisy {
        color: #FEFBE9;
        font-size: 600%;
    }


/*=== HEADER ===================================================================*/
header {
    background: linear-gradient(#163c4099,#163c40b3), url("../img/pc-setup.jpg");
    background-size: cover;
    height: 100svh;
    background-attachment: fixed;
}

.header-con {
    display: flex;
}

/***** TEXT *****/
    header h1 {
        position: absolute;
        font-size: 10vw;
        font-weight: bold;
        color: #FEFBE9;
        margin-top: 3%;
        margin-left: 2%;
        z-index: 1;
    }
    header p {
        position: absolute;
        top: 80%;
        margin-left: 8%;
        width: 65vw;
        color: #FEFBE9;
        font-size: 2em;
        font-weight: bold;
    }
/***** NAV-BAR *****/
    nav {
        flex: 1;
        margin-top: 3%;
        margin-right: 3%;
        z-index: 2;
        align-items: center;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    nav ul li {
        width: 145px;
        list-style: none;
        margin-left: 1%;
        text-align: center;
    }
    nav ul #odkazy li:nth-child(5)/*Button*/{
        padding: 6px 15px;
        background-color: #F0A04B;
        border-radius: 20px;
        margin-top: -0.5%;
    }
    nav ul li a:link,
    nav ul li a:visited {
        transition: 0.25s;
        font-size: 1.4em;
        color: #FEFBE9;
        text-decoration: none;

    }
    nav ul li a:hover,
    nav ul li a:active {
        color: #FEFBE9;
        font-size: 1.5em;
        font-weight: bold;

    }
    #kontakt-btn {
        font-weight: bold;
    }


/*=== MAIN =====================================================================*/


/*============ O MNĚ =============*/
.o-mne-nazev {
    position: relative;
    top: 60px;
    margin-bottom: 1%;
}

.o-mne-popis {
    color: #FEFBE9;
    font-size: 2em;
    border-top: 2px solid #FEFBE9;
    padding-top: 10px;
    margin-top: 27px;
}

.o-mne-nadpis {
    color: #FEFBE9;
    font-size: 1.35em;
    font-weight: bold;
    padding-bottom: 1%;
}

.o-mne-text {
    border-top: 2px solid #FEFBE9;
    padding-top: 1%;
}

/***** GRID 1 *****/
    .grid-o-mne-con {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        grid-column-gap: 5%;
        grid-row-gap: 5%;
        justify-content: center;
        grid-template-areas: 
        "nadpis none none"
        "omne profesionalni unikatni"
        "omne responzivni individualni";
        margin: 2% 5% 13% 5%;
    }
    .grid-o-mne-1 { grid-area: nadpis;       }
    .grid-o-mne-2 { grid-area: omne;         }
    .grid-o-mne-3 { grid-area: profesionalni;}
    .grid-o-mne-4 { grid-area: unikatni;     }
    .grid-o-mne-5 { grid-area: responzivni;  }
    .grid-o-mne-6 { grid-area: individualni; }


/*======== PROJEKTY =========*/
.projekty-con {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}
.barber, .rice, .sonoma { 
    flex-shrink: 1;
}
.barber {background-color: #FEFBE9; }
.rice { background-color: #E1EEDD;  }
.sonoma { background-color: #F0A04B;}


/***** OBSAH *****/
    #projekty img {
        display: block;
        max-width: 90%;
        max-height: 70%;
        margin: 5% auto 1% auto;
    }
    #projekty h2 {
        display: inline-block;
        font-size: 3em;
        margin-left: 4%;
        color: #163C40;
        border-bottom: 5px solid #163C40;
    }
    #projekty p {
        margin: 1% 4% 4% 4%;
        color: #163C40;
    }

/*========== SLUŽBY ===========*/
.sluzby-nadpis {
    padding-top: 3%;
    text-align: center;
}

.grid-sluzby p {
    border-top: 2px solid #FEFBE9;
    padding-top: 10px;
}

.sluzby-icon {
    color: #FEFBE9;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 50%;
    margin-bottom: 2%;
    border: 5px dashed #FEFBE9;
}
/***** GRID 2 *****/
    .grid-sluzby-con {
        display: grid;
        margin: 5% 10% 5% 10%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 2%;
        row-gap: 4%;
        grid-template-areas: 
        "jedna dva tri"
        "ctyri pet sest";
    }
    .grid-sluzby-1 { grid-area: jedna; }
    .grid-sluzby-2 { grid-area: dva;   }
    .grid-sluzby-3 { grid-area: tri;   }
    .grid-sluzby-4 { grid-area: ctyri; }
    .grid-sluzby-5 { grid-area: pet;   }
    .grid-sluzby-6 { grid-area: sest;  }

/*=========== KONTAKT =============*/
#kontakt {
    border-left: 3px solid #FEFBE9;
    border-right: 3px solid #FEFBE9;
}
.kontakt-con {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: baseline;
    padding: 10% 0;
}
.kontakt-inf {
    width: 30%;
    margin-left: 5%;
}
.kontakt-inf h2 {
    display: inline-block;
    border-bottom: 2px solid #FEFBE9;
    margin-bottom: 10%;
}
.kontakt-inf p {
    text-decoration: none;
    margin-bottom: 10%;
}
.kontakt-inf p a {
    text-decoration: none;
}
.kontakt-inf img {
    top: 26px;
    width: 6%;
    margin-right: 2%;
    float: left;
}
.kontakt-inf img:nth-child(1) {
    margin-bottom: 10px;
}
.kontakt-form {
    width: 500px;
    margin-right: 5%;
}
/***** FORMULÁŘ *****/
    .form h2 {
        color: #FEFBE9;
        font-size: 200%;
    }
    .form input[type="text"], .form input[type="email"], textarea {
        color: #FEFBE9;
        font-size: 1.35em;
        background: none;
        display: block;
        margin: 2% 0 2% auto;
        padding: 5px 4px;
        text-align: left;
        border: 2px solid #FEFBE9;
        border-radius: 0 0 10px 0;
        width: 100%;
        outline: none;
    }

    .form input[type="text"]:focus, .form input[type="email"]:focus, .form textarea:focus {
        transition: 0.25s;
        border: 2px double #FEFBE9;
        background-color: #fefbe920;
    }

    .form textarea {
        color: #163C40;
        background-color: #FEFBE9;
    }
    .form textarea:focus {
        transition: 0.25s;
        background-color: #dcd9c8;
    }
    .form input[type="submit"] {
        display: block;
        color: #FEFBE9;
        font-size: 1.35em;
        font-weight: bold;
        border: 0;
        background-color: #F0A04B;
        border: none;
        text-align: center;
        padding: 8px 20px;
        border-radius: 30px;
        cursor: pointer;
    }


/*=== FOOTER ===================================================================*/
footer {
    height: 10svh;
    background-color: #FEFBE9;
}
footer p {
    font-size: 1.35em;
    color: #163C40;
    float: left;
    margin: auto 5%;
    display: block;
    margin-top: 1.5%;
}
footer p:nth-child(2) {
    float: right;
}
footer p a {
    color: #FEFBE9;
}
